<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inicial.css') }}">
    <title>Movimentações de Doações</title>
</head>
<body>
    <h1>Movimentações de Doações:</h1>
    <a href="{{ url_for('produtos_para_doacao') }}">
    <button type="button">Voltar</button>
    </a>

    {% if movimentacoes %}
    <ul>
        {% for mov in movimentacoes %}
         <li data-status="{{mov.status.value}}">
            <strong>Produto:</strong> {{ mov.produto.nome }}<br>
            <strong>Quantidade:</strong> {{ mov.quantidade }}<br>
            <strong>Tipo:</strong> {{ mov.tipo.value }}<br>
            <strong>Usuário:</strong> {{ mov.usuario.nome }}<br>
            <strong>Local Saída:</strong> {{ mov.local_saida }}<br>
            <strong>Local Entrega:</strong> {{ mov.local_entrega }}<br>
            <strong>Data:</strong> {{ mov.data.strftime('%d/%m/%Y %H:%M') }} <br>
            <strong>Status:</strong> {{ mov.status.value }}
            {% if session['usuario_id'] == mov.usuario_id or session['usuario_id'] == mov.produto.usuario_id %}
              <form action="{{ url_for('update_movimentacoes', mov_id=mov.id) }}" method="POST">

                  <button type="submit">Marcar como recebida:</button>
                </form>
            {% endif %}
         </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Nenhuma movimentação registrada.</p>
    {% endif %}
    <script src="{{ url_for('static', filename='js/movimentacoes.js') }}"></script>
</body>
</html>
